.layout-theme {
    color: #e23f2b;
}

body {
    background-image:
        -moz-linear-gradient(45deg, #f5f5f5 25%, transparent 25%, transparent 75%, #f5f5f5 75%, #f5f5f5 100%),
        -moz-linear-gradient(45deg, #f5f5f5 25%, transparent 25%, transparent 75%, #f5f5f5 75%, #f5f5f5 100%);
    background-image:
        -webkit-linear-gradient(45deg, #f5f5f5 25%, transparent 25%, transparent 75%, #f5f5f5 75%, #f5f5f5 100%),
        -webkit-linear-gradient(45deg, #f5f5f5 25%, transparent 25%, transparent 75%, #f5f5f5 75%, #f5f5f5 100%);
    -moz-background-size: 10px 10px;
    background-size: 10px 10px;
    -webkit-background-size: 10px 10px;
    background-position: 0 0, 50px 50px;
}

.letter::first-letter {
    color: #e23f2b;
    font-weight: 350;
}